@page
@model com.b_velop.Slipways.Web.Areas.Admin.Pages.Slipway.DetailsModel
@{
}


<form method="post">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Slipway.Name">@Html.DisplayNameFor(model => Model.Slipway.Name)</label>
            <input disabled class="form-control" placeholder="Name" asp-for="Slipway.Name">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Slipway.City">@Html.DisplayNameFor(model => Model.Slipway.City)</label>
            <input disabled class="form-control" placeholder="Stadt / Ort" asp-for="Slipway.City">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Slipway.Street">@Html.DisplayNameFor(model => Model.Slipway.Street)</label>
            <input disabled class="form-control" placeholder="Straße" asp-for="Slipway.Street">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Slipway.Postalcode">@Html.DisplayNameFor(model => Model.Slipway.Postalcode)</label>
            <input disabled class="form-control" placeholder="Postleitzahl" asp-for="Slipway.Postalcode">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Slipway.Longitude">@Html.DisplayNameFor(model => Model.Slipway.Longitude)</label>
            <input disabled class="form-control" placeholder="Längengrad" asp-for="Slipway.Longitude">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Slipway.Latitude">@Html.DisplayNameFor(model => Model.Slipway.Latitude)</label>
            <input disabled class="form-control" placeholder="Breitengrad" asp-for="Slipway.Latitude">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Slipway.Comment">@Html.DisplayNameFor(model => Model.Slipway.Comment)</label>
            <textarea disabled class="form-control" placeholder="Kommentar" asp-for="Slipway.Comment"></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Slipway.Pro">@Html.DisplayNameFor(model => Model.Slipway.Pro)</label>
            <input disabled class="form-control" placeholder="Pro" asp-for="Slipway.Pro">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Slipway.Contra">@Html.DisplayNameFor(model => Model.Slipway.Contra)</label>
            <input disabled class="form-control" placeholder="Kontra" asp-for="Slipway.Contra">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Slipway.Costs">@Html.DisplayNameFor(model => Model.Slipway.Costs)</label>
            <input disabled class="form-control" placeholder="Preis" asp-for="Slipway.Costs">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Slipway.Rating">@Html.DisplayNameFor(model => Model.Slipway.Rating)</label>
            <input disabled class="form-control" placeholder="Bewertung (0 - 5)" asp-for="Slipway.Rating">
        </div>
    </div>

    @*<div class="form-row">
            <div class="form-check col">
                <input disabled type="checkbox" class="form-check-input" asp-for="Steg" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Steg</label>
            </div>
            <div class="form-check col">
                <input disabled type="checkbox" class="form-check-input" asp-for="CampingArea" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck2">Campingplatz</label>
            </div>
            <div class="form-check col">
                <input disabled type="checkbox" class="form-check-input" asp-for="ParkingPlace" id="exampleCheck3">
                <label class="form-check-label" for="exampleCheck3">Parkplatz</label>
            </div>
        </div>*@

    <div class="form-row">
        @*<div class="form-group class=" dropdown"">
                <label>Gewässer</label>
                <select asp-for="Slipway.Water" class="control-label"
                        asp-items="@Model.Waters">
                    <option value="">Gewässer wählen</option>
                </select>
            </div>*@
    </div>

    <div class="form-row">
        <a asp-page="./Index" class="btn btn-primary">Zurück</a>
    </div>
</form>
