@page
@model com.b_velop.Slipways.Web.PortsModel
@{
    ViewData["Title"] = "Ports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <title>Marinas</title>
    <meta name="description" content="Auflistung aller Marina." />
    <meta name="keywords" content="Marina, Marinas, Hafen, Häfen, Gewässer, Flüsse, See, Fluss, Meer, Slipways, Slipway, Boote, Boot, Schlauchboot, Camping, Trailering, Sliprampe" />
}

<div class="container">
    <h1 class="display-4">Marinas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Straße</th>
                <th>PLZ / Ort</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var port in Model.Ports)
            {
                <tr>
                    <td><a asp-page="/PortDetails" asp-route-id="@port.Id"> @port.Name</a></td>
                    <td>@port.Street</td>
                    <td>@port.Postalcode @port.City</td>
                </tr>
            }
        </tbody>
    </table>
</div>
