@page
@model com.b_velop.Slipways.Web.PortDetailsModel
@{
    ViewData["Title"] = "PortDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <title>Marina @Model.Port.Name</title>
    <meta name="description" content="Detailansicht der Marina @Model.Port.Name in @Model.Port.Postalcode - @Model.Port.City" />
    <meta name="keywords" content="Marina, Hafen, @Model.Port.Name, Slipanlagen, Slipways, Slipway, Boote, Boot, Schlauchboot, Camping, Trailering, Sliprampe" />
}

<div class="float-right">
    <!-- BEGIN ADKLICK CODE -->
    <script src="https://ssl.adklick.de/adclick.php?id=2419&amp;user=91944&amp;banner=16440&amp;site=0&amp;data=0&amp;width=300&amp;height=250&amp;subid=0" type="text/javascript"></script>
    <!-- END ADKLICK CODE -->
</div>

<div class="float-left">
    <!-- BEGIN ADKLICK CODE -->
    <script src="https://ssl.adklick.de/adclick.php?id=2415&amp;user=91944&amp;banner=16405&amp;site=0&amp;data=0&amp;width=&amp;height=&amp;subid=0" type="text/javascript"></script>
    <!-- END ADKLICK CODE -->
</div>

<div class="container">
    <h1 class="display-4">Marina</h1>
    <p>@Model.Port.Name</p>
    <p>@Model.Port.Street</p>
    <p>@Model.Port.Postalcode - @Model.Port.City</p>
</div>

