@page
@model com.b_velop.Slipways.Web.PortDetailsModel
@{
    ViewData["Title"] = "PortDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <title>Marina @Model.Port.Name</title>
    <meta name="description" content="Detailansicht der Marina @Model.Port.Name in @Model.Port.Postalcode - @Model.Port.City" />
    <meta name="keywords" content="Marina, Hafen, @Model.Port.Name, Slipanlagen, Slipways, Slipway, Boote, Boot, Schlauchboot, Camping, Trailering, Sliprampe" />
}



<div class="container">
    <h1 class="display-4">Marina</h1>
    <p>@Model.Port.Name</p>
    <p>@Model.Port.Street</p>
    <p>@Model.Port.Postalcode - @Model.Port.City</p>
</div>

